@media (min-width: 500px) and (max-width: 720px) {
    body {
    font-size: 12px;
}
header {
    height: 550px;        
}
.text h1 {
    font-size: 26px;
}
nav ul li {
    padding: 10px 15px; 
}
.text {
    padding-top: 20%;
}
.text p {
    margin-top: 10px;
}
.button {
    margin-top: 25px;   
}
.block-main {
    padding-top: 40px;
} 
.block-main_1 + .block-main {
    padding-top: 30px;
}
.block-main_1 {
    padding-top: 50px;
}
article h1 {
    font-size: 20px;
} 
.footer p {
    display: flex;
    justify-content: center;
}
}

@media (min-width: 350px) and (max-width: 499px) {
header {
    height: 450px;        
}
.text h1 {
    font-size: 18px;
}
nav ul li {
    padding: 5px 10px;
    font-size: 8px; 
}
.text {
    padding-top: 15%;
}
.text p {
    margin-top: 5px;
    font-size: 16px;
}
.block-main {
    padding-top: 30px;
} 
.block-main_1 + .block-main {
    display: flex;    
    flex-direction: column;
    padding-top: 20px;
}
.block-main_1 {
    padding-top: 50px;
}
article h1 {
    font-size: 16px;
    color: #314a5b;
    line-height: 0.9;
}
.footer p {
    display: flex;
    justify-content: center;
}
}

@media (min-width: 110px) and (max-width: 349px) {
.logo {
    font-size: 10px;
}
header {
    height: 400px;        
}
.text h1 {
    font-size: 14px;
}
nav ul li {
    padding: 4px 8px;
    font-size: 6px; 
}
.text {
    padding-top: 15%;
}
.text p {
    margin-top: 5px;
    font-size: 14px;
}
.button {
    font-size: 12px;
}
.button a {
    padding: 15px 20px;
}
.block-main {
    padding-top: 20px;
} 
.block-main_1 + .block-main {
    display: flex;    
    flex-direction: column;
    padding-top: 15px;
}
.block-main_1 {
    padding-top: 40px;
}
article h1 {
    font-size: 16px;
    color: #314a5b;
    line-height: 0.9;
}
article p {
    font-size: 14px;
    line-height: 0.9
}
.footer p {
    display: flex;
    justify-content: center;
}
}